*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
#background{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vw;
  min-height: 100%;
  background: linear-gradient(-45deg,#A8D8EA,#AA96DA,#FCBAD3);
  background-size: 500%;
  animation: change 60s ease-in-out infinite;
}
@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.upper{
  margin-top: 100px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.upperBox{
  width: 80px;
  height: 80px;
  border: solid black 2px;
  display: inline-block;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  /*cursor: pointer;*/
  background: linear-gradient(
    -45deg,
  rgb(255, 255, 255,0.1),
  rgb(255, 255, 255,0.5));
}
.upperBox:active{
  border: solid black 8px;
}
.upperOperator{
  display: inline-block;
  font-size: 30px;
}
.pair1{
  border-radius: 20px 0px 0px 0px;
}
.questionBox{
  width: 80px;
  height: 80px;
  border: solid black 2px;
  color: black;
  display: inline-block;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  border-radius: 0px 20px 0px 0px;
  background: linear-gradient(
    -45deg,
  rgb(255, 255, 255,0.1),
  rgb(255, 255, 255,0.5));
}

.main{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.numberBox-container{
  width: 325px;
  height: 220px;
  border: solid rgb(245, 245, 245,0.2) 1px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 0px 0px 20px;
  background: white;
  background: linear-gradient(
    -45deg,
  rgb(255, 255, 255,0.1),
  rgb(255, 255, 255,0.5));
}
.numberBox{
  width: 95px;
  height: 95px;
  border: 2px solid black;
  margin: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 28px;
}
#box4{
  border-radius: 0px 0px 0px 20px;
}
.numberBox:active{
  border: solid black 8px;
}
.operators{
  width: 50px;
  height: 220px;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.operator{
  align-items: center;
  display: flex;
  justify-content: center;
  border: solid black 2px;
  font-size: 28px;
  width: 100%;
  height: 105px;
  background: linear-gradient(
    -45deg,
  rgb(255, 255, 255,0.1),
  rgb(255, 255, 255,0.5));
}
.substract{
  border-radius: 0px 0px 20px 0px;
}
.operator:active{
  border: solid black 8px;
}

.bottom{
  margin-top: 5px;
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.two-part{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timer{
  width: 200px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgb(234, 234, 234,0.7) ;
  border: 2px solid black;
}
.time{
  font-size: 28px;
  margin-left: 20px;
}
.secWord{
  margin-right: 20px;
  font-size:30px;
}
.resetButton{
  background-color: rgb(234, 234, 234,0.7) ;
  width: 180px;
  height: 40px;
  border: 2px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  color: black;
}
.resetButton:active{
  border: solid black 8px;
}
.startButton{
  background-color: rgb(234, 234, 234,0.7) ;
  width: 100%;
  height: 40px;
  border: 2px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin: 30px 0 50px 0;
  align-self: center;
}
.startButton:active{
  border: solid black 8px;
}

.howTo{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}
.description{
  height: 0px;
  overflow: hidden;
}
.expand-active{
  height: 100%;
}
ol{
  padding-left: 15px;
}
